html {
    height: 100%;  
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./assets/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;  
    z-index: -1;  
}
 

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-inline-end: 0.5rem;
    color: #fcd34d;
}

.text-shadow {
    text-shadow: 0 0 10px rgb(127, 218, 127), 0 0 20px rgb(127, 218, 127), 0 0 30px rgb(127, 218, 127)
}

.titleHeader {    
    text-shadow: 0 2px 0 #bd910e, 0 4px 0 #7c6213, 0 4px 0 #cb9c12, 3px 6px 10px rgba(0,0,0,0.1), 3px 6px 5px rgba(0,0,0,0.3);
}