html {
    height: 100%;
    overflow-x: hidden;
}
body {    
    margin: 0;
    padding: 0;
    background-image: url('./assets/img/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    /* background-repeat: no-repeat; */ /* Evita que la imagen se repita */
    height: 100vh; 
    width: 100vw; 
}

h1 {
    text-shadow: 0 0 10px rgb(127, 218, 127), 0 0 20px rgb(127, 218, 127), 0 0 30px rgb(127, 218, 127);
}

.titleHeader {    
    text-shadow: 0 2px 0 #8b6e15, 0 4px 0 #7c6213, 0 6px 0 #6e5611, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}


/* html, body {
    height: 100%;  Asegura que tanto el html como el body ocupen toda la altura 
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow: hidden;  Evita el scroll no deseado si es necesario 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./assets/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;  Controla solo la opacidad de la imagen 
    z-index: -1;  Envía la imagen detrás del contenido 
}
 */